@mixin simpleTheme(
  $theme-name,
  $LightBackground,
  $LightForeground,
  $Main,
  $DarkForeground,
  $DarkBackground
) {
  .#{$theme-name} {
    .SimpleNavbar {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background: $DarkBackground;
    }

    .SimpleNavbarBrand {
      float: left;
      text-decoration: none !important;
    }

    .SimpleNavDropDownItem {
      display: inline-block;
      color: $LightBackground;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none !important;
    }

    .SimpleDropDownContent {
      display: none;
      position: absolute;
      background-color: $LightBackground;
      min-width: 160px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .SimpleNavDropdown {
      display: inline-block;

      &:hover {
        color: $LightBackground;
        background-color: $DarkForeground;
      }

      &:hover .SimpleDropDownContent {
        display: block;
      }
    }

    .SimpleNavbarBrandItem {
      display: inline-block;
      color: $LightBackground;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none !important;

      &:hover {
        color: $LightBackground;
        background-color: $LightForeground;
      }
    }

    .SimpleDropDownContentItem {
      display: block;
      color: $DarkBackground;
      text-align: left;
      padding: 12px 16px;
      text-decoration: none !important;

      &:hover {
        color: $LightBackground;
        background-color: $LightForeground;
      }
    }
  }
}

@include simpleTheme(SimpleTheme1, #F3F2F4, #6EA5C5, #3C7AB4, #657C9E, #242D57);
@include simpleTheme(SimpleTheme2, #F4F4F2, #9390A0, #F19673, #EB4227, #1E2827);
