@mixin simpleTheme(
  $theme-name,
  $light-background,
  $light-foreground,
  $main,
  $dark-foreground,
  $dark-background
) {
  .#{$theme-name} {
    * {
      box-sizing: border-box;
    }

    .simple-center {
      text-align: center;
    }

    .simple-left {
      float: left;
    }

    .simple-right {
      float: right;
    }

    .simple-h1 {
      font-size: 2.0em;
      color: $dark-foreground;
    }

    .simple-h2 {
      font-size: 1.5em;
      color: $dark-foreground;
    }

    .simple-space {
      padding: 0.5em;
    }

    .simple-p {
      font-size: 1.0em;
      color: $main;
    }

    .simple-card {
      padding: 1em;
      margin: 1em;
      background: $light-background;
      border: 1px solid $dark-foreground;
      border-radius: 5px;
    }

    .simple-section {
      padding: 0.5em;
      margin: 0.5em;
    }

    .simple-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .simple-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

      padding: 0.5em;
      margin: 0.5em;
    }

    @media screen and (max-width: 700px) {
      .simple-row {
        flex-direction: column;
      }
    }

    .simple-col {
      background: $light-background;
      border: 1px solid $dark-foreground;
      border-radius: 5px;

      padding: 0.5em;
      margin: 0.5em;
    }

    .simple-section-label {
      flex-basis: 15%;
      text-align: left;

      padding: 0.5em;
    }

    .simple-section-items {
      flex-basis: 85%;
      text-align: right;

      padding: 0.5em;
    }

    .simple-input-label {
      flex-basis: 15%;
      text-align: right;

      padding: 0.5em;
    }

    .simple-input {
      flex-basis: 85%;
      text-align: left;

      padding: 0.5em;
    }

    .simple-navbar {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background: $dark-background;
    }

    .simple-brand {
      float: left;
      text-decoration: none !important;
    }

    .simple-brand-item {
      display: inline-block;
      color: $light-background;
      background-color: $light-foreground;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none !important;
    }

    .simple-dropdown {
      display: inline-block;

      &:hover .simple-dropdown-content {
        display: block;
      }
    }

    .simple-dropdown-item {
      display: inline-block;
      color: $light-background;
      background-color: $light-foreground;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none !important;
    }

    .simple-dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .simple-dropdown-content-item {
      display: block;
      color: $light-background;
      background-color: $light-foreground;
      text-align: left;
      padding: 12px 16px;
      text-decoration: none !important;

      &:hover {
        color: $light-foreground;
        background-color: $light-background;
      }
    }
  }
}

@include simpleTheme(SimpleTheme1, #f3f2f4, #6ea5c5, #3c7ab4, #657c9e, #242D57);
@include simpleTheme(SimpleTheme2, #F4F4F2, #9390A0, #F19673, #EB4227, #1E2827);
@include simpleTheme(SimpleTheme3, #FFFFFF, #3850D8, #3850D8, #FFFFFF, #3850D8);
