$LightBackground: #F3F2F4 !default;
$LightForeground: #6EA5C5 !default;
$Main: #3C7AB4 !default;
$DarkForeground: #657C9E !default;
$DarkBackground: #242D57 !default;

.SimpleTheme2 {
  $LightBackground: #F4F4F2;
  $LightForeground: #9390A0;
  $Main: #F19673;
  $DarkForeground: #EB4227;
  $DarkBackground: #1E2827;
}

.SimpleNavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: $DarkBackground;
}

.SimpleNavbarBrand {
  float: left;
  text-decoration: none !important;
}

.SimpleNavDropDownItem {
  display: inline-block;
  color: $LightBackground;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none !important;
}

.SimpleDropDownContent {
  display: none;
  position: absolute;
  background-color: $LightBackground;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.SimpleNavDropdown {
  display: inline-block;

  &:hover {
    color: $LightBackground;
    background-color: $DarkForeground;
  }

  &:hover .SimpleDropDownContent {
    display: block;
  }
}

.SimpleNavbarBrandItem {
  display: inline-block;
  color: $LightBackground;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none !important;

  &:hover {
    color: $LightBackground;
    background-color: $LightForeground;
  }
}

.SimpleDropDownContentItem {
  display: block;
  color: $DarkBackground;
  text-align: left;
  padding: 12px 16px;
  text-decoration: none !important;

  &:hover {
    color: $LightBackground;
    background-color: $LightForeground;
  }
}
